* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  overflow-x:hidden;
}

a {
  color: $mainOrange;
}

.container {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container:after {
  @clearfix;
}

/* Custom Animate Css Codes */

.animated.delay-05s {
  animation-delay: 0.5s;
}


.disable-selection {
  user-select: none;
}