
.corousel {
  width: 1200px;
  position: relative;
  margin: 100px auto;
  box-shadow: 0 1px 8px $primaryColor;
}

.corousel .corousel__container  {
  overflow: hidden;
  width: 1198px; /* .corousel width - (.wrapper margin-left + .wrapper margin-right) */
  min-height: 10em;
  position: relative;
  top: 0;
      background-color: $white
}

.corousel .corousel__title {
    background-color: #e0c582;
    display: block;
    position: absolute;
    top: -56px;
    left: -37px;
    width: max-content;
    height: 332px;
    padding: 19px;
    z-index: -1;
}


.corousel__title h6 {
    letter-spacing: 7px;
    font-weight: 500;
    font-family: Lato;
    color: #4f4a4f;
}
.corousel .corousel__container  ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: relative;
  top: 0;
}

.corousel .corousel__element {
  display:inline-block;
  float:left;
  padding: 1px 1px;
  width: 300px;
  height: 350px;
  margin-bottom:0px;

}

.corousel .corousel__element img {
  display:block;
  height: 100%;
  width: 100%;
}

.corousel__next,
.corousel__prev{
  border: 1px solid $white;
  box-shadow: 0 1px 8px $primaryColor;
  background-color: $secondaryColor;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px 12px;
  color: $primaryColor;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  transform: translate3d(0, -50%, 0);
}

.corousel__next{
  right: -20px;
  border: 1px solid bisque;
}

.corousel__prev {
  left: -20px;
  border: 1px solid bisque;
}

.corousel__prev,
.corousel__next {
  &:hover {
    background-color: $primaryColor;
  }
}
